/* project_board.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 전체 내용을 세로 가운데 정렬 */
    min-height: 100vh; /* 최소 높이 설정 */
}

header h1 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border: none;
    transition: all 0.3s ease;
}

#navi {
    list-style: none;
    display: flex;
}

#navi li {
    position: relative;
    margin-right: 30px;
}

#navi a {
    text-decoration: none;
    color: #007aff;
    font-size: 17px;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s ease;
}

#navi a:hover {
    color: #0056b3;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 200px;
}


article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

fieldset {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 600px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* 가운데 정렬 */
}

legend {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    text-align: center; /* 가운데 정렬 */
}

li {
    margin-bottom: 10px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: left; /* 왼쪽 정렬 */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* width 속성에 padding과 border를 포함시키기 위한 설정 */
}

button {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* 버튼을 fieldset의 너비에 맞게 설정 */
    max-width: 200px; /* 최대 너비 설정 */
}

button:hover {
    background-color: #005bb5;
}


/* 테이블 스타일 */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 50px;

}

thead {
    background-color: #676767;
    color: white;
}

thead tr {
    height: 40px;
}

thead td {
    padding: 10px;
    text-align: center;
}

tbody {
    background-color: #fff;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
